@import "tailwindcss";
@source "../../../packages/ui/src";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: 'Space Grotesk', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background: rgba(59, 130, 246, 0.2);

}

.circuit-bg {
  background-image: radial-gradient(circle at 2px 2px, rgba(19, 55, 236, 0.05) 1px, transparent 0);
  background-size: 40px 40px;
}

.neon-border-glow:focus-within {
  box-shadow: 0 0 15px rgba(19, 55, 236, 0.4), inset 0 0 4px rgba(19, 55, 236, 0.2);
  border-color: #1337ec !important;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}